@page
@using WebApp.Model.OrderModel
@model WebApp.Pages.Account.Profile

@{
}

<h1>Profile</h1>

<div>
    <dl>
        <dt>User ID:</dt>
        <dd>@Model.UserDto.ID</dd>

        <dt>Username:</dt>
        <dd>@Model.UserDto.Email</dd>

        <dt>Email:</dt>
        <dd>@Model.UserDto.Email</dd>

    </dl>
</div>
<div>
    @if (Model.orderModel != null)
    {
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>UserName</th>
                <th>TotalPrice</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.orderModel)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No Orders</p>
    }
</div>