@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Coin Market</h1>
    <form class="d-flex" role="search" method="post" asp-page-handler="coinSearch">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" asp-for="Symbol">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    @if (Model.coinList != null && Model.coinList.Data != null && Model.ErrorOccurred==false)
    {
        <p>London :@Model.coinList.CoinStatus.TimesTamp</p>
        <p>Tehran :@DateTime.Now</p>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Coin symbol</th>
                <th scope="col">Price USD</th>
                <th scope="col">percent_change_1h</th>
                <th scope="col">percent_change_24h</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.coinList.Data)
            {
                <tr>
                    <td scope="row">@item.cmc_rank</td>
                    <td scope="row">
                        <b>@item.Name</b> @item.Symbol
                    </td>
                    @* <td scope="row">@item.rank</td> *@
                    @*<td scope="row">@item.Quote?["USD"]?.Price</td>
                <td scope="row">@item.Quote?["USD"]?.percent_change_1h</td> *@
                    <td scope="row">
                        @string.Format("{0:N2}$", item.Quote?["USD"]?.Price)

                        @if (item.Quote?["USD"]?.percent_change_24h > 0)
                        {
                            <i class="bi bi-caret-up-fill text-success"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill text-danger"></i>
                        }
                    </td>

                    <td scope="row">
                        @string.Format("{0:N2}%", item.Quote?["USD"]?.percent_change_1h)

                        @if (item.Quote?["USD"]?.percent_change_1h > 0)
                        {
                            <i class="bi bi-caret-up-fill text-success"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill text-danger"></i>
                        }
                    </td>
                    <td scope="row">
                        @string.Format("{0:N2}%", item.Quote?["USD"]?.percent_change_24h)

                        @if (item.Quote?["USD"]?.percent_change_24h > 0)
                        {
                            <i class="bi bi-caret-up-fill text-success"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill text-danger"></i>
                        }
                    </td>
                    <td>
                        <a asp-page="/coin/coindet" asp-route-coinSymbol="@item.Symbol">More</a>
                    </td>

                </tr>
            }

            </tbody>
        </table>
    }
    @if (Model.coinSearchResponse != null && Model.coinSearchResponse.Data != null)
    {
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Coin / symbol</th>
                <th scope="col">Price USD</th>
                <th scope="col">percent_change_1h</th>
                <th scope="col">percent_change_24h</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.coinSearchResponse.Data.Values.FirstOrDefault())
            {
                <tr>
                    <td scope="row">@item.cmc_rank</td>
                    <td scope="row">
                        <b>@item.Name</b> @item.Symbol
                    </td>
                    @* <td scope="row">@item.rank</td> *@
                    @* <td scope="row">@item.Quote?["USD"]?.Price</td>
                <td scope="row">@item.Quote?["USD"]?.percent_change_1h</td> *@
                    <td scope="row">
                        @string.Format("{0:N2}$", item.Quote?["USD"]?.Price)

                        @if (item.Quote?["USD"]?.percent_change_24h > 0)
                        {
                            <i class="bi bi-caret-up-fill text-success"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill text-danger"></i>
                        }
                    </td>
                    <td scope="row">@string.Format("{0:N2}%", item.Quote?["USD"]?.percent_change_1h)</td>
                    <td scope="row">@string.Format("{0:N2}%", item.Quote?["USD"]?.percent_change_24h)</td>
                    <td>
                        <a asp-page="/coin/coindet" asp-route-coinSymbol="@item.Symbol">More</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (Model == null || Model.ErrorOccurred==true )
    {
        <h3>Not found in API</h3>
    }

</div>