@page
@model WebApp.Pages.Basket.CartInfo

@{
}


@if (Model.CoinCartItem != null)
{
    <form method="post">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>Name Coin</th>
                <th>Price Coin</th>
                <th>Amount</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            @*  @foreach (var item in Model.CoinCartItem.CoinCarts)
            { *@

            <tr>
                <td>@Model.CoinCartItem.CoinCarts.CoinId</td>
                <input type="hidden" asp-for="CoinCartItem.CoinCarts.CoinId"/>

                <td>@Model.CoinCartItem.CoinCarts.CoinName</td>
                <input type="hidden" asp-for="CoinCartItem.CoinCarts.CoinName"/>


                <td id="price">@Model.CoinCartItem.CoinCarts.PriceCoin$</td>
                <input type="hidden" asp-for="CoinCartItem.CoinCarts.PriceCoin"/>

                <td>
                    <input type="number" asp-for="CoinCartItem.CoinCarts.Amount" id="amountInput" class="form-control" oninput="updateTotalPrice()" step="any"/>
                </td>
                <td id="totalPrice">@Model.CoinCartItem.TotalPrice</td>
                <form method="post" asp-page-handler="DeleteCartBasket">

                    <td>
                        <button type="submit">
                            cancel
                        </button>
                    </td>
                </form>
            </tr>

            @*   <tr>
            <td>@item.CoinId</td>
            <td>@item.CoinName</td>
            <td>@item.PriceCoin</td>
            <td>@item.Amount</td>
            </tr>
            @* } *@
            </tbody>
        </table>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
}
else
{
    <p>No cart</p>
}

<script>
    function updateTotalPrice() {
        var price = parseFloat(document.getElementById('price').innerText);
        var amount = parseFloat(document.getElementById('amountInput').value);

        var totalPrice = price * amount;


        var formattedPrice = totalPrice.toFixed(2) + "$";

        document.getElementById('totalPrice').innerText = formattedPrice;
    }
</script>